

                          @media screen and (max-width: 1024px) {
                                    .row, .navbar {
                                flex-direction: column;
                                    padding-top: 8%;

                                           }


.boton_historia{
    
   padding-left: 16px;
      
}











}