

                          @media screen and (max-width: 1024px) {
                                    .row, .navbar {
                                flex-direction: column;
                                    padding-top: 8%;

                                           }


.icono_cerrar_v12{

   margin-left: 86.5%;
   margin-top: 3px;
      
}











}