

                          @media screen and (max-width: 1024px) {
                                    .row, .navbar {
                                flex-direction: column;
                                    padding-top: 8%;

                                           }


.boton_tipos_lamborghini{


   padding-left: 199px;
   padding-right: 0px;
   width: 191px;
   padding-top: 35px;
   margin-left: 12px;
      
}











}