

                          @media screen and (max-width: 1024px) {
                                    .row, .navbar {
                                flex-direction: column;
                                    padding-top: 8%;

                                           }


.Logo_menu01{


   padding-left: -2px;
   margin-top: -29.3px;
      
}











}