
.icono_login{

    z-index: 1000;
    margin-left: -50%;
    margin-top:2%;
    width: 220px;
    filter: brightness(90%);
    
 
}


.login01{
    width:225px;
    height:270px;
    justify-content: space-evenly;
    border: 0px solid #dbdbdb;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    z-index: 1000;
    position: absolute;
    margin-left: 41.5%;
    margin-top: 6.5%;


    
} 

.icono_login{

    z-index: 1000;
    margin-left: 12.8%;
    margin-top:0%;
    width: 220px;
    filter: brightness(90%);
    
 
}




