.v12_miniatura{

    margin-left: 75%;

     
}

.v12_miniatura_07{

    margin-top: 35.1%;
    margin-left: 5%;
    position: absolute;
    filter: brightness(20%);

     
}

.v12_miniatura_08{

    margin-top: 35.1%;
    margin-left: 20%;
    position: absolute;
    filter: brightness(20%);
    
   
     
}

.v12_miniatura_09{

    margin-top: 35.1%;
    margin-left: 35%;
    position: absolute;
    filter: brightness(140%);
   
     
}